*{
    padding : 0;
    margin: 0;
    font-family: monospace;
}

.navbar{
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.navbar button{
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
}


.container{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.num_line{
    width: 5%;
    height: 80vh;
}

.text--editor{
    width: 100%;
    height: 80vh;
    resize: none;
    outline: none;
    border: none;
    padding: 10px;
    background-color: rgb(3, 3, 3);
    color: rgb(0, 155, 0);
}